.hide {
    display: none;
}

.show {
    display: block;
    overflow-x: hidden;
}

table {
    border: none;
    width: 100%;
}

.tableComponent {
    margin: 0px;
    width: 100%;
}

.tableHeadding {
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    font-size: small;
    border-bottom: 1px solid black;
    background-color: black;
    text-align: center;
    color: white;
}

.tableContent {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    cursor: pointer;
    height: 50px;
}

.tableContent:nth-child(odd) {
    background-color: #00334d;
}

.tableContent:hover {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: lightgrey;
    color: black;
}

.title {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    table {
        border: none;
        width: 100%;
    }

    .media-query-visibility {
        display: none;
    }

    .title {
        margin-bottom: 5px;
        font-weight: bold;
        color: darkgrey;
        text-align: center;
    }
}